.section-about {
    margin: 80px 0px;
}

.img-about-lg {
    display: block;
    width: 550px;
}
.img-about-md, .img-about-mb {
    display: none;
}

.inner-section-about {
    display: flex;
    justify-content: space-between;
    .div-text-about{
        width: 480px;
        .description-about {
            color: $yellow;
        }
        p, li {
            margin-bottom: 10px;
            line-height: 22px;
            font-weight: 500;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

#the-studio {
    margin-bottom: 80px;
}
