// FONTS

$principalFont: 'Montserrat', sans-serif;
$secundaryFont: 'DM Serif Display', serif;

// COLORS

$yellow: #FFC66D;
$black: #000000;
$white: #ffffff;

// WEB

$textSize: 15px;
$titleSectionSize: 34px;
$titleBannerProjectSize: 40px;

// MOBILE

$textMobileSize: 12px;
$titleSectionMobileSize: 34px;